@import url('./__container/comments__container.css');

.comments {
    width: 82.2%;
    margin: 110px auto 0 auto; 
}

@media screen and (max-width: 1280px) {
    .comments {
        width: 92.5%;
    }
}

@media screen and (max-width: 1024px) {
    .comments {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .comments {
        width: 86%;
    }
}

@media screen and (max-width: 375px) {
    .comments {
        width: 91.5%;
        margin-top: 65px;
    }
}

@media screen and (max-width: 320px) {
    .comments {
        width: 90%;
    }
}