@import url('./_space/content-title__space.css');

.content-title {
    max-width: 800px;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 768px) {
    .content-title {
        max-width: 800px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 375px) {
    .content-title {
        max-width: 91.5%;
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 375px) {
    .content-title {
        max-width: 100%;
    }
}
