@import url('./__quote/comment__quote.css');
@import url('./__author/comment__author.css');
@import url('./__image/comment__image.css');

.comment {
    position: relative;
}

@media screen and (max-width: 768px) {
    .comment {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 14px;
    }
}

@media screen and (max-width: 320px) {
    .comment {
        margin-bottom: 30px;
    }
}