.comment__quote {
    max-width: 382px;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 35px;
}

@media screen and (max-width: 768px) {
    .comment__quote {
        width: 100%;
        font-size: 16px;
        margin-top: 18px;
        order: 3;
    }
}

@media screen and (max-width: 375px) {
    .comment__quote {
        margin-top: 19px;
    }
}