@import url('./__image/video__image.css');

.video__item {
    position: relative;
    display: flex;
    background: #000000;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 55.4%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.video__item:first-of-type {
    background-image: url('../../../../images/Video_Kamchatka.png');
}

.video__item:nth-of-type(2) {
    background-image: url('../../../../images/Video_Observatory.png');
}

@media screen and (max-width: 1024px) {
    .video__item {
        padding-bottom: 63.8%;
    }
}

@media screen and (max-width: 768px) {
    .video__item {
        padding-bottom: 57.1%;
    }
}

@media screen and (max-width: 740px) {
    .video__item {
        padding-bottom: 67%;
    }
}

@media screen and (max-width: 479px) {
    .video__item {
        padding-bottom: 58.3%;
    }
}

@media screen and (max-width: 320px) {
    .video__item {
        padding-bottom: 66.7%;
    }
}